<div class="questions-container">
      <% @questions.each do |question| %>
        <div>
          <h3><%= link_to question.title, question_path(question) %></h3>
          <p><%= question.content.first(50) %>...</p>
          <% #TODO: Change line 6 to scoping?, profile page %>
          <p>By <%= link_to question.user.username, user_path(question.user.id) %></p>
          <p>Posted on <%= question.formatted_creation_date %> |
          Updated <%= question.formatted_last_updated %></p>
          <% #TODO: Abstract out query from view! Include? Scope? %>
          <p>Vote value: <%= question.votes.sum(:value) %> | Answers: <%= question.answers.length %></p>
        </div>
      <% end %>
</div>
