<h3 class="user-notice">Ask a new question here:</h3>

<div class="new-question-container">

  <% if @user %>
    <ul><% @errors.each do |error| %>
      <li class="alert"><%= error %></li>
    <% end %></ul>
  <% end %>

  <%= form_for @question do |f| %>
    <p><%= f.label :title %></p>
    <p><%= f.text_field :title, :placeholder => "How to implement Auth0?" %></p>

    <p><%= f.label :content %></p>
    <p><%= f.text_area :content, :placeholder => "Enter Content" %></p>

    <p><%= f.label :tags %></p>
    <p>Enter tags separated by commas!</p>
    <p><%= f.text_area :tags, :value => nil, :placeholder => "Dogs, kittens, Krampus" %></p>

    <%= f.submit "Publish", class: "button" %>
  <% end %>
</div>
