<div>
  <div class="question">
    <h2> <%= @question.title %> </h2>
    <%= @question.content %>
     <p>Vote value: <%= @question.votes.sum(:value) %></p>
      <p> Answers: <%= @question.answers.length %> | Author: <%= link_to @question.user.username, user_path(@question.user.id) %> </p>

  <div class="answer-button">
    <%= button_to 'Give an Answer', new_question_answer_path(@question), method: :get %>
  </div>

  <%= render partial: 'votes/new', layout: false, locals: {parent: @question} %>
</div>

  <p class="tags"> Tags:
    <% @tags.each do |tag| %>
      <%= button_to tag.category, tag_path(tag.id), method: :get %>
    <% end %>
  </p>
</div>

<div class="comments">
  <h3> Comments: </h3>
  <% @question.comments.each do |comment| %>
    <p><%= link_to User.find(comment.user_id).username, user_path(comment.user_id) %> said:</p>
    <p><%= comment.content %> </p>
    <p>Posted on: <%= comment.formatted_creation_date %></p>
    <p>Vote value: <%= comment.votes.sum(:value) %></p>
    <%= render partial: 'votes/new', layout: false, locals: {parent: comment} %>
  <% end %>
</div>

<%= render partial: 'comments/new', layout: false %>

<%= render  "answers/show_answer", layout: false %>


