<h3>If you are a returning user, please log in below:</h3>
<div class="container">
   <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
   <% end %>
 </div>

<%= form_tag login_path do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %><br/>

  <%= label_tag :password %>
  <%= password_field_tag :password %><br/>

  <%= submit_tag "Log In"%>
<% end %>
