  <% if @user %>
    <ul><% @user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %></ul>
  <% end %>

<div class="login-container">
  <%= form_for @user do |f| %>
    <p><%= f.label :username %></p>
    <p><%= f.text_field :username, placeholder: "example123" %></p>

    <p><%= f.label :email %></p>
    <p><%= f.text_field :email, placeholder: "example123@example.com"%></p>

    <p><%= f.label :password %></p>
    <p><%= f.password_field :password %></p>

    <%= f.submit "Sign Me Up!", class: "button" %>
  <% end %>
</div>
