<h3 class="user-notice">Welcome! Please sign up below.</h3>

<div class="login-container">
  <% if @user %>
    <% @user.errors.full_messages.each do |error| %>
      <h2 class="alert"><%= error %></h2>
    <% end %></ul>
  <% end %>

  <%= form_for @user do |f| %>
    <p><%= f.label :username %></p>
    <p><%= f.text_field :username, placeholder: "example123" %></p>

    <p><%= f.label :email %></p>
    <p><%= f.text_field :email, placeholder: "example123@example.com"%></p>

    <p><%= f.label :password %></p>
    <p><%= f.password_field :password %></p>

    <%= f.submit "Register Me", class: "button" %>
  <% end %>
</div>
