<% if @answers.any? %>
<h2 class="page-header">Answers to "<%= @question.title %>":</h2>
<% @answers.each do |answer| %>
  <div class="answers-container">
    <div class="response">
      <p><%= link_to answer.user.username, user_path(answer.user.id) %> said:</p>
      <%= answer.content %>
      <p>Posted on <%= answer.formatted_creation_date %> |
        Updated <%= answer.formatted_last_updated %></p>
      <p>Vote value: <%= answer.votes.sum(:value) %></p>
    </div>
<% end %>

    <% if current_user.id == answer.user_id %>
      <p><%= button_to 'Edit Answer', edit_question_answer_path(@question, answer), method: :get, class: "button" %> | <%= button_to 'Delete Answer', question_answer_path(@question, answer), method: :delete, class: "button" %></p>
    <% end %>

    <% if current_user.id == @question.user_id  && !(@question.answers.any? {|ans| ans.best}) %>
      <%= button_to 'Mark Best', best_path, method: :get, params: {answer: answer}, class: "button" %>
    <% end %>

    <% if answer.best %>
      <%= "BEST ANSWER EVER" %>
    <% end %>

    <div class="vote-buttons">
      <%= render partial: 'votes/new', layout: false, locals: {parent: answer} %>
    </div>

    <div class="comments">
      <% answer.comments.each do |comment| %>
        <div class="response">
          <p><%= link_to User.find(comment.user_id).username, user_path(comment.user_id) %> said:</p>
          <p><%= comment.content %> </p>
          <p>Posted on: <%= comment.formatted_creation_date %></p>
          <p>Vote value: <%= comment.votes.sum(:value) %></p>

          <div class="vote-buttons">
            <%= render partial: 'votes/new', layout: false, locals: {parent: answer} %>
          </div>
        </div>
      <% end %>
    </div>

    <div>
      <%= render partial: 'comments/new', layout: false, locals: { type: answer} %>
    </div>
  </div>
<% end %>
