<!DOCTYPE html>
<html>
<head>
  <title>MattSoloflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<h1><%= link_to "Matt's SoloFlow", root_path %></h1>
</header>
  <% if logged_in? %>
  <navbar>
    <%= current_user.username %> | <%= link_to 'Logout', logout_path %>
    <% else %>
    <%= link_to 'Sign up', register_path %> | <%= link_to 'Login', login_path %>
  </navbar>
  <% end %>
<%= yield %>

</body>
</html>
