<!DOCTYPE html>
<html>
<head>
  <title>MattSoloflow</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato|Monofett">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1><%= link_to "Matt's SoloFlow", root_path %></h1>
</header>

  <navbar>
  <% if logged_in? %>
      <%= link_to current_user.username, user_path(current_user), class: "profile-link" %> | <%= link_to 'Logout', logout_path, class: "profile-link" %>
  <% else %>
      <%= link_to 'Sign up', register_path, class: "profile-link" %> | <%= link_to 'Login', login_path, class: "profile-link" %>
  <% end %>
  </navbar>

  <div class="layout-links">
  <%= link_to "Questions" , root_path, class: "nav-link"%>
  <%= link_to "Tags", tags_path, class: "nav-link"%>
  <%= link_to "Users", users_path, class: "nav-link"%>
  <%= link_to "Ask a Question", new_question_path, class: "nav-link"%>
  </div>
<%= yield %>

</body>
</html>
